extends ../layout

block content

	p Hi #{nameFirst},

	p Here's the thing...you are earning points like crazy! Check out your awesome stats below.

	p
		ul
			li You have successfully checked in <b>#{checkIns}</b> times!
			li You have earned <b>#{points}</b> points!

	p
		| Thank you,
		br
		| The Baker Points Machine Team