html
	head
		meta(http-equiv="content-type", content="text/html", charset="UTF-8")
		link(href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")

	body(style="background: #fff; margin: 0; padding: 0 25px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 18px; color: #333;")

		table(cellpadding="0", cellspacing="0", style="background: #ffffff; margin: 0 auto; text-align: center; width: 640px; min-height: 100%")
			tr
				td(style="height: 100px;")
					h1 Baker Points
			tr
				td(style="padding: 30px 20px; color: #858585; font-size: 14px; font-weight:300; margin: 0 auto; width: 100%; text-align: left; vertical-align: top;")
					block content